// @import ../../styles/helpers

.ss
    margin-top: 30px !important
    margin-bottom: 25px !important

.sse
    font-weight: 425px
    width: 100%
    text-align: center


.lowcont
    width: 100%
    text-align: center

.imgcom
    margin-top: -65px

.video
    height: 600px !important 
// .membership
.text2
    margin-top: 20px !important
.dd
    text-align: center !important
    img
        margin-top: 95px !important